@font-face {
  font-family: 'icomoon';
  src: url("../../lib/icomoon/fonts/icomoon.eot?-4gqbqs");
  src: url("../../lib/icomoon/fonts/icomoon.eot?#iefix-4gqbqs") format("embedded-opentype"), url("../../lib/icomoon/fonts/icomoon.woff?-4gqbqs") format("woff"), url("../../lib/icomoon/fonts/icomoon.ttf?-4gqbqs") format("truetype"), url("../../lib/icomoon/fonts/icomoon.svg?-4gqbqs#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  font-family: 'Source Sans Pro', sans-serif; }

h1 {
  font-weight: lighter;
  font-size: 3em; }

h2 {
  font-weight: normal;
  font-size: 2em; }

h3 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5em; }

h4 {
  font-weight: bolder;
  font-size: 1.2em; }

.solid-highlight {
  font-weight: lighter;
  font-size: 2em;
  background-color: #eb2127;
  color: white;
  display: inline;
  padding: 2px;
  line-height: 1.5em;
  position: relative;
  left: 0.5em;
  box-shadow: 0.5em 0 0 #eb2127, -0.5em 0 0 #eb2127; }

.line-highlight {
  border: solid #414042 3px;
  display: inline-block;
  color: #414042;
  font-weight: normal;
  letter-spacing: 0.1em;
  padding: 5px 20px; }

input[type="text"] {
  font-size: 1em;
  padding: 10px;
  border: 3px solid #d1d3d4;
  color: #414042; }
  input[type="text"]:focus {
    outline: 0;
    border: 3px solid #224f5b; }
  input[type="text"].error {
    border: 3px solid #cc2230; }
    input[type="text"].error + .error-icon::after {
      display: inline;
      margin-left: -30px;
      top: 3px;
      font-family: 'icomoon';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      position: relative;
      font-family: "icomoon", sans-serif;
      content: "\e117";
      color: #cc2230;
      font-size: 1.2em;
      z-index: 1; }

button, a.btn {
  padding: 10px 20px;
  font-size: 1em;
  border-style: solid;
  border-width: 3px;
  font-style: italic;
  cursor: pointer;
  background-color: white;
  border-color: #224f5b;
  outline-color: #224f5b;
  color: #224f5b; }
  button:hover, a.btn:hover {
    background-color: #224f5b;
    color: white;
    transition: background-color 0.3s, color 0.3s; }
  button.alarm, a.btn.alarm {
    background-color: white;
    border-color: #cc2230;
    outline-color: #cc2230;
    color: #cc2230; }
    button.alarm:hover, a.btn.alarm:hover {
      background-color: #cc2230;
      color: white; }
  button.light, a.btn.light {
    background-color: transparent;
    border-color: #ffffff;
    outline-color: #ffffff;
    color: #ffffff; }
    button.light:hover, a.btn.light:hover {
      background-color: #ffffff;
      color: #58595b; }

a.btn {
  text-decoration: none; }

.color-container {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 10px; }
  .color-container .color {
    width: 100%;
    height: 100%; }
    .color-container .color.super {
      height: 20%; }
    .color-container .color.main {
      height: 80%; }
    .color-container .color.white {
      outline: solid #d1d3d4 2px;
      background-color: #ffffff; }
    .color-container .color.gray20 {
      background-color: #d1d3d4; }
    .color-container .color.gray40 {
      background-color: #bcbec0; }
    .color-container .color.gray60 {
      background-color: #58595b; }
    .color-container .color.gray80 {
      background-color: #414042; }
    .color-container .color.red {
      background-color: #eb2127; }
    .color-container .color.darkRed {
      background-color: #cc2230; }
    .color-container .color.teal {
      background-color: #224f5b; }
    .color-container .color.darkTeal {
      background-color: #1b414e; }

.dark-container {
  padding: 10px;
  margin: 12px 12px 12px 0;
  background-color: #58595b; }

/*# sourceMappingURL=default.css.map */
